<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
    </style>
  <title><%=Jewelry.name%></title>
</head>
  <body>
    <div class="container">
      <div id="show-container">
      <div class="jewelry-head">
        <h1><%=Jewelry.name%></h1>
        <img src="<%=Jewelry.img%>"></img>
        <h4>ID: <%=Jewerly.type%></h4>
        <button class="button"><a href="/">Back to Jewelry</a></button>  
      </div>
      <div class="size">
        <h4><%=Jewerly.size%></h4>
      </div>
      <h4 class="weight"><%=Jewerly.weight%></h4>
      <div class="material"></div>
      <ul> Material(s): 
          <% for (let i = 0; i < Jewelry.material.length; i++) { %>
        <li>
          <%=Jewerly.material[i]%>
        </li>
      <% } %>
      </ul>
      </div>
      <div class="stones">
        <ul> Stone(s): 
          <% for (let i = 0; i < Jewelry.stones.length; i++) { %>
        <li> 
          <li>HP: <%=Jewelry.stones.type[i]%></li>
          <li>Attack: <%=Jewelry.stones.quantity[i]%></li>
          <li>Defense: <%=Jewelry.stones.size[i]%></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>