<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
    </style>
  <title><%=Jewelry.name%></title>
</head>
  <body>
    <div class="container">  
      <div class ='header'>
        <h1><%=Jewelry.name%></h1>
        <div>
          <a href="/"><button class='button'>Back to Jewelry</button></a>
        </div>
      </div>
      <div>
        <img src="<%=Jewelry.img%>"></img>
      </div>
      <div class="price">
        <h2><%=Jewelry.price%></h2>
      </div>
  
      <div class="type">
        <h3>Type: <%=Jewelry.type%></h3>
      </div>
      <div class="size">
        <h3>Size: <%=Jewelry.size%></h3>
      </div>
      <div class="material">
        <h3>Material: <%=Jewelry.material%></h3> 
      </div>
      <div class="stones">
        <h3>Stone(s): <%=Jewelry.stones%></h3> 
      </div>
      <div class="weight">
        <h3>Weight: <%=Jewelry.weight%></h3> 
      </div>
      <div>
        <a href="/<%=Jewelry._id%>/edit"><button class='button'>Edit</button></a>
        <form id="delete" action="/<%=Jewelry._id%>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="Delete"/>
        </form>
      </div>
    </div>
  </body>
</html>